Repository bloemium/web-bloemium: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

docs(readme): make bloemium link clickable (#21)
  README.md
Due: prettier --check

test: :wrench: Setting up jest
  .eslintignore
  jest.config.mjs
  package-lock.json
  package.json
  test/jest.bloemium.js
  test/jest.common.mjs
  test/jest.lint.js
Due: prettier --check, eslint

build: :wrench: Jest now works
  .eslintignore
  .lintstagedrc
  jest.config.mjs
  package-lock.json
  package.json
  test/jest.bloemium.mjs
  test/jest.lint.mjs
Due: prettier --check, eslint

fix: :wrench: Fixed wrong glob
  test/jest.bloemium.mjs
Due: none

refactor: :truck: Added hyphen to name
  app/components/mail-form.tsx
  app/routes/index.tsx
Due: prettier --check, eslint

test(Mail Form): :white_check_mark: Added initial test
  app/components/__tests__/mail-form.ts
Due: prettier --check, eslint

🧪 Added Jest for testing (#23)
  .lintstagedrc
  app/components/__tests__/mail-form.ts
  app/components/mail-form.tsx
  app/routes/index.tsx
  jest.config.mjs
  package-lock.json
  package.json
  test/jest.bloemium.mjs
  test/jest.common.mjs
  test/jest.lint.mjs
Due: prettier --check, eslint

Restored README
  README.md
Due: prettier --check

Disabled authentication for now
  src/env.mjs
  src/pages/index.tsx
  src/server/auth.ts
Due: prettier --check, eslint

Merge branch 'develop' into feat/swap-remix-for-next
  package-lock.json
  package.json
Due: prettier --check, eslint

chore: :wastebasket: Removed obsolete files
  app/components/__tests__/mail-form.ts
  app/components/mail-form.tsx
  app/routes/index.tsx
  jest.config.mjs
  test/jest.bloemium.mjs
  test/jest.common.mjs
  test/jest.lint.mjs
Due: prettier --check, eslint

chore: :wastebasket: Removed obsolete files (#26)
  app/components/__tests__/mail-form.ts
  app/components/mail-form.tsx
  app/routes/index.tsx
  jest.config.mjs
  test/jest.bloemium.mjs
  test/jest.common.mjs
  test/jest.lint.mjs
Due: prettier --check, eslint

Path conditions:
  prettier --check: (any of: *.{js,ts,tsx,json}) or (any of: *.{md,html})
  eslint: any of: *.{js,ts,tsx,json}
